{% extends 'base.html' %}

{% load comments %}

{% block content %}
<table>
    {% for item in items %}
    <tr>
        <td class="date">{{ item.date|date:"d/m/y H:m" }}</td>
        {% if IS_ADMIN %}
        <td><button class="killButton">
            KILL
        </button></td>
        {% endif %}
        <td class="link">
            {{ item.title }}
            <small>({{ item.source }})</small>
        </td>
        <td>{{ item.summary|safe }}</td>
    </tr>
    <tr>
        {% get_comment_count for item as comment_count %}

        <td>
            <a href="{{ item.url }}" target="_blank">Article</a>
        </td>
        <td colspan="3">
            <a href="{{ item.get_absolute_url }}">Comments ({{ comment_count }})</a>
        </td>
    </tr>
    {% empty %}
    <tr>
    <td colspan="4">No results</td>
    </tr>
    {% endfor %}
</table>

<script>

        $('table').on('click', '.killButton', function () {
            var $row = $(this).closest('tr'),
                href = $row.find('.link a').attr('href');
            $.ajax({
                type: 'post',
                url: '/kill-story/',
                data: {
                    storyUrl: href
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                error: function(resp) {
                    alert('failed!')
                },
                success: function(resp) {
                    console.log('deleted ' + href);
                    $row.remove();
                }
            })
        });

</script>
{% endblock %}