{% extends 'base.html' %}

{% load comments %}

{% block content %}
<table>
    {% for item in items %}
    <tr>
        <td class="date">{{ item.date|date:"d/m/y H:m" }}</td>
        {% if IS_ADMIN %}
        <td><button class="killButton">
            KILL
        </button></td>
        {% endif %}
        <td class="link">
            <a href="{{ item.url }}">{{ item.title }}</a>
            <small>({{ item.source }})</small>
        </td>
        <td>{{ item.summary|safe }}</td>
    </tr>
    <tr>
        {% get_comment_count for item as comment_count %}

        <td colspan="4">
            <a href="{{ item.get_absolute_url }}">{{ comment_count }} comment{{ comment_count|pluralize }}
                ha{{ comment_count|pluralize:"s,ve" }} been posted.</a>
        </td>
    </tr>
    {% endfor %}
</table>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

        $('table').on('click', '.killButton', function () {
            var $row = $(this).closest('tr'),
                href = $row.find('.link a').attr('href');
            $.ajax({
                type: 'post',
                url: '/kill-story/',
                data: {
                    storyUrl: href
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                error: function(resp) {
                    alert('failed!')
                },
                success: function(resp) {
                    console.log('deleted ' + href);
                    $row.remove();
                }
            })
        });

</script>
{% endblock %}