{% extends 'base.html' %}

{% load comments %}

{% block content %}

    <h1><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h1>

    <div>
    {{ item.summary|safe }}
    </div>

    {% get_comment_count for item as comment_count %}

    {% if user.is_authenticated %}

        {% render_comment_form for item %}

    {% else %}

        <p>
            <a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to comment
        </p>

    {% endif %}

    {% if comment_count %}
        <div class="comments">
          {% render_comment_list for item %}
        </div>
    {% endif %}

{% endblock %}