<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>
    <body>
    <menu>
        <h2>News sources:</h2>
        <ul>
            <li>
                <a href="/">All</a>
            </li>
            {% for provider in providers %}
            <li>
                <a href="/?provider={{ provider }}">{{ provider }}</a>
            </li>
            {% endfor %}
        </ul>
    </menu>
    {% block content %}{% endblock %}
    </body>
</html>